/* Animations */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade-in-header {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes borderRun {
  from {
    width: 0px;
    left: 0px;
    opacity: 0%;
  }
  to {
    //width: 99.9%;
    width: 95%;
    left: 0px;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    left: 0px;
    opacity: 0%;
  }
  to {
    left: 50px;
    opacity: 50%;
  }
  to {
    left: 100px;
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
} 

/* Elements */
body {
  background-color: rgba(10, 10, 10, 1);
  color: white;
  z-index: -1;
  overflow-x: hidden;
}

/* canvas */
#background {
  position: absolute;
  width: 100%; 
  height: 100%;
  z-index: 0;	
}

#content {
  z-index: 1;
}

.cursorBlink {
  letter-spacing: 10px;
  color: white;
  animation: blink 1s infinite;
}

header {
  text-align: center;
  width: 300px;
  height: 150px;
  margin: auto;
  position: relative;
}

header, h1 {
  color: white;
  text-shadow: 0px 0px 0px black, 0 0 100px rgba(150, 150, 150, 0.5);
  font-size: 100px;
  font-family: Arial, sans-serif;
  animation: fade-in-header 2.8s forwards;
}

.border_division {
  border: 2px solid rgba(0, 0, 51);
  margin: auto;
  animation: borderRun 3s forwards;
}

#menu_area {
  text-align: center;
  font-size: 30px;  
  width: 600px;  
  margin: auto;
  position: relative;
  z-index: 1;
  animation: fade-in 4s forwards;
}

#menu_area, a {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 35px;
  padding: 20px;
  text-decoration: none;
  text-shadow: 0 0 0 white;
  color: blue;
  transition: font-size 200ms;
}

#menu_area, a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 0px black, 0 0 100px grey, 0 0 100px blue;
  font-size: 50px;
}

#welcome_output {
  text-align: center;
  /*font-family: "Lucida Console", "Courier New", monospace;*/
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  font-style: normal;
  color: green;
}

.about_site {
  text-align: center;
  margin-top: 50px;
  width: 1000px;
  height: 400px;
  position: relative;
  animation: slideRight 5s forwards;
}

.about_site, p {
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: white;
}
