/* Animations */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade-in-header {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes borderRun {
  from {
    width: 0px;
    left: 0px;
    opacity: 0%;
  }
  to {
    //width: 99.9%;
    width: 95%;
    left: 0px;
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    left: 0px;
    opacity: 0%;
  }
  to {
    left: 50px;
    opacity: 50%;
  }
  to {
    left: 100px;
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
} 

/* Elements */
body.dark-theme {
  background-color: rgba(10, 10, 10, 1);
  color: white;
  overflow-x: hidden;
}

body.light-theme {
  background-color: rgba(190, 190, 190, 1);
  color: black;
  overflow-x: hidden;
}

/* canvas */
#background {
  position: fixed;
  width: 100%; 
  height: 100%;
  z-index: 0;
}

.button-theme-dark{
  position: relative;
  top: 50px;
  left: 1200px;
  height: 30px;
  border-radius: 10px;
}

.button-theme-light {
  position: relative;
  top: 50px;
  left: 1200px;
  height: 30px;
  border-radius: 10px;
}

.cursorBlink {
  letter-spacing: 10px;
  color: white;
  animation: blink 1s infinite;
}

header {
  text-align: center;
  width: 300px;
  height: 150px;
  margin: auto;
  bottom: 50px; 
  position: relative;
}

header h1 {
  text-shadow: 0px 0px 0px black, 0 0 100px rgba(150, 150, 150, 0.1);
  font-size: 110px;
  font-family: Arial, sans-serif;
  animation: fade-in-header 3s forwards;
}

.border_division {
  border: 2px solid rgba(0, 0, 50);
  margin: auto;
  bottom: 40px;
  position: relative;
  animation: borderRun 5s forwards;
}

#menu_area {
  text-align: center;
  font-size: 30px;  
  width: 600px;  
  margin: auto;
  position: relative;
  bottom: 25px;
  animation: fade-in 4s forwards;
}

#menu_area a {
  font-family: Arial, sans-serif;
  font-size: 35px;
  padding: 20px;
  text-decoration: none;
  text-shadow: 0 0 0 transparent;
  color: rgba(43, 58, 68, 1);
  transition: font-size 200ms;
}

#menu_area a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 0px black, 0 0 100px blue, 0 0 100px darkblue;
  font-size: 50px;
}

#welcome_output {
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 65px;
  font-weight: bolder;
  font-style: normal;
  color: green;
  position: relative;
}

.about_site {
  text-align: center;
  margin-top: 55px;
  width: 1000px;
  height: 400px;
  position: relative;
  animation: slideRight 5s forwards;
  bottom: 20px;
}

.about_site p {
  font-family: Arial, sans-serif;
  font-size: 40px;
}

#read_blogs {
  margin: auto;
  text-align: center;
  position: relative;
}

#read_blogs h2 {
  color: purple;
  font-family: Arial, sans-serif;
  font-size: 50px;
}

#read_blogs p {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

#use_tools {
  margin: auto;
  position: relative;
  text-align: center;
}

#use_tools h2 {
  font-family: Arial, sans-serif;
  font-size: 50px;
}
